.news_content{
    text-align: center;
}
.title{
    font-size: 50px;
    font-style: oblique;
    font-weight: bolder;
}
.brief{
    font-size: 30px;
    font-style: oblique;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}
.form-textarea {
    width:70%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:2px silver solid;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
}
.label-form{
    font-size: 30px;
    font-style: oblique;
}
.submitOK {
    width:150px;
    height:40px;
    border-radius:20px;
    background: #e2e2e2;
    color:#fff;
    font-size:18px;
    cursor:pointer;
}
.form-area{
    text-align: center;
}
.form-input{
    padding:10px;
    margin:10px 0;
    border-radius:10px;
    width:50%;
}